
.checkbox{
    margin-top: 30px;
    margin-bottom: 30px;
    .agree{
        margin-left: 30px;
    }
    .checkboxOne {
        width: 25px;
//      margin: 20px 100px;
        position: relative;
    }
    .checkboxOne label {
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        background: #FC9874;
        border:0px solid #ddd;
        border-radius: 5px;
    }
    .checkboxOne label:after {
        opacity: 0.1;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        background: transparent;
        top: 10px;
        left: 7px;
        border: 3px solid #000000;
        border-top: none;
        border-right: none;
     
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .checkboxOne label:hover::after {
        opacity: 0.5;
    }
    .checkboxOne input[type=checkbox]:checked + label:after {
        opacity: 1;
    }
    input[type=checkbox] {
        visibility: hidden;
    }
}

.register{
    border-top: 1px solid #DEDEDE;
    margin-top: 121px;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 700px;
    background: #F6F6F6;
    .container{
        width: 45% !important;
    }
    .register-content{
        background: #fff;
        height: 600px;
        padding-top: 20px;
    }
    .content{
        margin: 0 auto;
        width: 50%;
        h1{
            text-align: center;
            font-size: 30px;
            font-weight: 500;
            font-family: "microsoft yahei";
        }
        .form{
            margin: 0 auto;
            width: 300px;
            .rule{
                color: #FC9874;
            }
            button{
                border: 1px solid #FC9874;
            }
            button:hover{
                background: #FC9874;
                color: #fff;
            }
            .register-login{
                text-align: center;
                margin-top: 30px;
                padding-bottom: 30px;
                span{
                    color: #FC9874;
                }
            }
        }
    }
}
