body{
	font-family: "microsoft yahei";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
.b{
	border: 1px solid blue;
}
.r{
	border:1px solid red
}
.fl{
	float: left;
}
.fr{
	float: right;
}


/****头部header start****/
.header{
	/*border: 1px solid red;*/
}
.nav-bar{
	/*width: 1024px;*/
	background-color: #fff;
	width: 100%;
}
.header-logo{
	float: left;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	width: 10%;
	height: 100px;
	/*border: 1px solid red;*/
}
.header-nav{
	float: left;
	/*border: 1px solid red;*/
}
.header-nav .navBar ul{
	height: 100px;
	line-height: 100px;
	margin-left: 50px;
}
.header-nav .navBar ul li{
	display: block;
	width: 100px;
	text-align: center;
	float: left;
}
.navBar{
	margin-left: 50px;
	height: 100px;
	line-height: 100px;
}
.header-nav .navBar ul li a{
	color: #000;
	font-family: "microsoft yahei";
	font-size: 18px;
	display: block;
	width: 100px;
	background-color: #fff;
	float: left;
}
.header-nav .navBar ul li a:hover{
	background-color: #ECE702;
	text-decoration: none;
}
.header-left{
	float: left;
}
.header-right{
	/*height: 100px;*/
	line-height: 100px;
	float: right;
	margin-right: 30px;
}
.header-right .search{
	display: block;
	float: left;
	height: 100px;
	line-height: 100px;
	margin-right: 35px;
}
.header-right .search input{
	margin-top: 35px;
	text-align: left;
}
.header .nav-bar .header-right .search .form-control{
	background-image: url(../images/icon.png) no-repeat 0 0 !important;
}
/*.header-right{
	float: left;
}*/
.login-icon{
	float: right;
}


/****头部header end****/


/****banner start****/
.banner{
	margin-top: 100px;
}
.box {
	width: 100%;
	height: auto;
	line-height: 5;
	text-align: center;
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
	vertical-align: middle;
}

/****banner end****/

/****extend start****/
.extend{
	margin-top: 40px;
}

/****extend end****/


/****personal start****/
.personal{
	margin-top: 30px;
	background-color: #f6f6f6;
}
.personal .personal-intro h1,.personal .personal-intro p{
	font-family: "microsoft yahei";
	text-align: center;
}
.personal .personal-psonintro{
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px #dedede;
}
.personal .personal-psonintro img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.person-msg{
	border-top-style: 0px;
	border-radius: 8px;
	padding: 20px;
}
.person-msg h3,.person-msg p{
	font-family: "microsoft yahei";
}
.more{
	margin-top: 20px;
	text-align: center;
	/*background: url(../images/icon.png) no-repeat 0 0;
	background-position: -565px -12px;*/
}
.more-left{
	text-align: center;
	
}
/****personal end****/


/****yixueextend end****/
.yixue-extend .personal-intro h1,.yixue-extend .personal-intro p{
	font-family: "microsoft yahei";
	text-align: center;
}
.yixue-extend{
	margin-top: 30px;
}
.yixue-extend-img img{
	border-radius: 8px;
}
.yixue-extend-img h3{
	font-family: "microsoft yahei";
}

/****yixueextend end****/


/****case end****/
.case .personal-intro h1,.case .personal-intro p{
	font-family: "microsoft yahei";
	text-align: center;
}
.case{
	margin-top: 30px;
	background: #F6F6F6;
}
.case-content{
	background-color: #f6f6f6;
}
.case-content-left{
	background-color: #fff;
	border-radius: 5px;
}
.case-content-left-intro{
	padding: 10px;
}
.case-content-right .img-one{
	width: 170px;
	margin: 0px 5px;
	border-radius: 8px;
}
.case-content-right .img-two{
	width: 355px;
	margin: 16px 5px;
	border-radius: 8px;
}
.case-content-left-intro p{
	color: #A4A3A3;
	font-family: "microsoft yahei";
}
h4 b{
	font-family: "microsoft yahei";
	font-weight: 600;
}
/****case end****/



/****footer start****/
.footer{
	margin-top: 30px;
	height: 400px;
	background: #000000;
}
.footer p,.footer a{
	color: #fff;
}
.footer input{
	margin-top: 20px;
}
.textarea{
	margin-top: 20px;
}
.footer ul{
	/*float: left;*/
	margin: 50px 0 0 80px;
}
.footer ul li{
	margin: 0 20px 0 0;
	float: left;
}
.footer ul li a{
	color: #fff;
}
/****footer end****/





/****@media start****/


/**1280分辨率以上（大于1200px）**/

@media screen and (min-width:1200px){
    .header{
    	width: 1900px;
    }
    .container{
    	width: 1900px;
    }
}
 

/**1100分辨率（大于960px，小于1199px）**/

@media screen and (min-width: 960px) and (max-width: 1199px) {
	.header{
    	width: 1200px;
    }   
     .container{
    	width: 1900px;
    } 
}
 

/**880分辨率（大于761px，小于959px）**/

/*@media screen and (min-width: 761px) and (max-width: 959px) {
	.header{
    	width: 1200px;
    }   
     .container{
    	width: 1200px;
    }    
}*/
 

/**720分辨率（大于480px，小于767px）**/

@media only screen and (min-width: 480px) and (max-width: 959px){
    .header{
    	width: 1200px;
    }   
     .container{
    	width: 1200px;
    } 
}
 

/**440分辨率以下（小于479px）**/

@media only screen and (max-width: 479px) {
    .header{
    	width: 1200px;
    }   
     .container{
    	width: 1200px;
    } 
}


/****@media end****/
